<sph-simple-list-view subtitle="CCB_SCREEN_CHURCH_SUBTITLE"
                      create-item-title="CCB_SCREEN_CHURCH_CREATE"
                      create-item-sref=".create"
                      create-item-operation="ccb.core.church.operation.insert"
                      delete-item-title="CCB_SCREEN_CHURCH_DELETE_TITLE"
                      delete-item-message="CCB_SCREEN_CHURCH_DELETE_MESSAGE"
                      delete-item-success="CCB_SCREEN_CHURCH_DELETE_DONE"
                      delete-item="deleteProfile(id)"
                      list="list()">
    <table class="table table-hover table-list">
        <tbody>
        <tr ng-repeat="church in churches" sph-search="search" on-property="church.name">
            <td class="item-title">
                <a ng-href="#/church/edit/{{ church.id }}">{{ church.name }}</a>
                <br/>
                <small><span translate="SPH_CREATED_AT"></span> {{ church.created_at | date : 'dd/MM/yyyy hh:mm:ss' }}</small>
            </td>
            <td class="profile-description">{{ <profile class="d"></profile>escription }}</td>
            <td class="table-actions">
                <a ng-href="#/church/edit/{{ church.id }}" class="btn btn-white btn-sm"
                   operation="ccb.core.church.operation.update">
                    <i class="fa fa-pencil"></i>
                    <span translate="SPH_EDIT"></span>
                </a>
                <button class="btn btn-danger delete" ng-click="promptDelete(church.id)"
                        operation="ccb.core.church.operation.delete">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</sph-simple-list-view>